{% extends "base.html" %}

{% block page_content %}
<h1 class="mb-4">Cursos para el enriquecimiento cultural</h1>
<div class="row">
{% for Curso in Cursos %}
    <div class="col-md-4">
        <div class="card h-100 shadow-sm">
            {% if Curso.image %}
                <img class="card-img-top" src="{{ Curso.image.url }}" alt="Imagen del curso" style="height: 200px; object-fit: cover;" overflow = "hidden">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ Curso.nombre }}</h5>
                <p class="card-text">{{ Curso.descripcion|truncatewords:20 }}</p>
                <div class="mt-auto">
                    <a href="{% url 'curso_detail' Curso.pk %}"
                    class="btn btn-primary btn-block">
                    Leer Más
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
