{% extends "base.html" %}

{% block page_content %}
<h1>cursos</h1>
<div class="row">
{% for Curso in Cursos %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ Curso.nombre }}</h5>
                <p class="card-text">{{ Curso.descripcion }}</p>
                <a href="{% url 'curso_detail' Curso.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}