<!--http://127.0.0.1:8000/cursos/estudiantes/-->

{% extends "base.html" %}

{% block page_content %}

<p>Lista de Estudiantes asociados a tu perfil</p>

<div class="row">
    {% for Estudiante in Estudiantes %}
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ Estudiante.nombres }}</h5>
                    <p class="card-text">{{ Estudiante.nombres|truncatewords:20 }}</p>
                    <!--faltan Botones para editar y borrar-->
                    <div class="mt-auto">
                        <a href="{% url 'matricular' %}"
                        class="btn btn-primary btn-block">
                        Matricular a un curso
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>
<br>
<a href="{% url 'estudiante_new' %}"
    class="btn btn-primary">
    Agregar Estudiante
</a>    

{% endblock %}
