
body {
    background-image: url("../image/saxophone.jpg"); 
    /*background: gray;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
  }